extends layout

block content
  .uk-container
        img.uk-img.uk-align-center(src="../public/image/894940e059cd26a03a0cc9bdea3874f5.jpg", width="250", style='border: 3px solid pink;border-radius: 25px;')

  .uk-container.uk-align-center
      p.center-align Welcome to #[strong Tsuki Novel Library], here we host and serve all types of novels!
