nav.uk-navbar-container(uk-navbar='')
  .uk-navbar-left
    ul.uk-navbar-nav
      li
        a(href='/') Home
      li
        a(href='/novels') Novels

script(src='./../../public/js/jquery.js')
script(src="./../../public/js/navbar.js")


  
